sim
visualizerOLD.py
brownian-particles.py
simfunctions.py
particle_movie.gif
/__pycache__
Master_thesis_final_9_June_2023.pdf
coldParticles.csv
hotParticles.csv
/movie_frames
/movie
gradient.csv
cap.csv
